doctype html
html
  include includes/head.pug
  body
    h1 Bkash Payment
    p Welcome to my Bkash Payment Example website
    button#bKash_button Pay With bKash

    script
      include js/index.js
    include includes/foot.pug